In [1]:
from datetime import datetime
from os.path import exists as file_exists
import pandas as pd
from pprint import pprint as pp
import re
import requests
from time import sleep
import xmltodict
import Credentials      # Get API keys, etc.

apikey = Credentials.prod_api
baseurl = 'https://api-na.hosted.exlibrisgroup.com'
item_query = '/almaws/v1/bibs/{mms_id}/holdings/{holding_id}/items/{item_pid}?apikey={apikey}'

exported_csv = "FullItemList.csv"
filled_csv = "FilledEnumChron.csv"
err_log_txt = "log.txt"

### Run this cell if you want to use the Limited-list CSV
exported_csv = "LimitedList.csv"

#### Create original df

In [78]:
# Depending on how the file was exported, column names may or may have either spaces or underscores
df = pd.read_csv(exported_csv, converters={'Item_ID': str, 'Holdings_ID': str, 'MMS_ID': str, 'Item ID': str, 'Holdings ID': str, 'MMS ID': str})

#### Clean up, tweak & format df

In [79]:
# Remove spaces from column names
df.columns = [c.replace(' ', '_') for c in df.columns]
# Rename certain columns
df = df.rename(columns={'Permanent_Location': 'Location', 'Item_Policy': 'Policy', 'Material_Type': 'Material'})
# Strip leading/trailing space from Description
df.Description = df.Description.str.strip()
# Collapse multiple spaces within the Description
df.Description.replace(' +', ' ', regex=True, inplace=True)

In [80]:
# Add columns for the Enum/Chron fields
EC_fields = ['Enum_A', 'Enum_B', 'Chron_I', 'Chron_J']
df[EC_fields] = None

#### The function for getting info from Description to Enum/Chron fields:

In [81]:
def fill_and_extract(regex, these_fields):
    exp = re.compile(regex)
    for i, f in enumerate(these_fields):
        df[f] = df['Description'].str.extract(exp, expand=True)[i].fillna(df[f])

#### Set some common expressions that can be used in a modular way

In [82]:
# 3-digit month/season
mmmRE = r'(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June?|July?|Aug(?:ust)?|Sept?(?:ember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?|Spr(?:ing)?|Sum(?:mer)?|Fall?|Aut(?:umn)?|Win(?:ter)?)'
# 4-digit year/range of years (post-18th-century)
yyyyRE = r'(?:1[89]|20)\d{2}'

#### Call it repeatedly for each regex that you come up with:
**[Test your Regex here](https://regex101.com/)**

In [28]:
# Just volume(s) & nothing else
fill_and_extract(r'^v\. ?(\d+[a-z]?(?:[\&\-]\d+)?)$',
                 ['Enum_A'])

In [39]:
# Volume + issue
fill_and_extract(r'^v\. ?(\d+)[ \/]no\. ?(\d+)$',
                 ['Enum_A', 'Enum_B'])

In [7]:
# Vol + issue + date + year
fill_and_extract(r'^v\. ?(\d+)[ \/]no\. ?(\d+) (' + mmmRE + r' \d{1,2}' + '),? (' + yyyyRE + ')$',
                 ['Enum_A', 'Enum_B', 'Chron_J', 'Chron_I'])

In [ ]:
# Volume + year(s)
fill_and_extract(r'^v\. ?(\d+) (' + yyyyRE + r'(?:[\-\/]' + yyyyRE + r')?)$',
                 ['Enum_A', 'Chron_I'])

In [37]:
# Just issue & nothing else
fill_and_extract(r'^no\. ?(\d+)$',
                 ['Enum_B'])

In [41]:
# Issue + year(s)
fill_and_extract(r'^no\. ?(\d+) (' + yyyyRE + r'(?:[\-\/]' + yyyyRE + r')?)$',
                 ['Enum_B', 'Chron_I'])

In [17]:
# Range of months within one calendar year
fill_and_extract(r'^(' + mmmRE + r'[\-\/]' + mmmRE + '),? (' + yyyyRE + ')$',
                 ['Chron_J', 'Chron_I'])

In [18]:
# Date + year
fill_and_extract(r'^(' + mmmRE + r' \d{1,2}(?:[\-\/]\d{1,2})?),? (' + yyyyRE + ')$',
                 ['Chron_J', 'Chron_I'])

In [51]:
# Just year/range of years
fill_and_extract(r'^(' + yyyyRE + r'(?:-' + yyyyRE + r')?)$',
                 ['Chron_I'])

In [42]:
# Year(s) + volume
fill_and_extract(r'^(' + yyyyRE + r'(?:[\-\/]' + yyyyRE + r')?) v\. ?(\d+)$',
                 ['Chron_I', 'Enum_A'])

In [87]:
# Year + month/season/date
fill_and_extract(r'^(' + yyyyRE + r') (' + mmmRE + r'(?: \d{1,2})?)$',
                 ['Chron_I', 'Chron_J'])

#### Then once all those replacements are done, pull filled-in records out to a new dataframe

In [88]:
# Create a dataframe to hold JUST records that get filled
filled = pd.DataFrame()
# Populate the new dataframe with any records that now have at least one Enum/Chron field filled
filled = df.dropna(subset=EC_fields, thresh=1)

#### Then apply the changes via the API and log filled items to the Filled CSV

In [89]:
records = len(filled)
c = 0
needs_header=not file_exists(filled_csv) # Apparently we're creating the file, so it needs a header

In [90]:
### Run this bit to see what got "filled" before hitting the API

for index, row in filled.fillna('').iterrows():
    c += 1
    print(c, ' / '.join([row['MMS_ID'], row['Holdings_ID'], row['Item_ID']]),
          str(row['Description']),
          ' | '.join(x or '' for x in [row['Enum_A'], row['Enum_B'], row['Chron_I'], row['Chron_J']]),
          sep="\t")

1	991000862969706388 / 2268356750006388 / 2368356620006388	2010 Jun	 |  | 2010 | Jun
2	991000862969706388 / 2268356750006388 / 2368356630006388	2010 May	 |  | 2010 | May
3	991000862969706388 / 2268356750006388 / 2368356640006388	2010 Apr	 |  | 2010 | Apr
4	991000862969706388 / 2268356750006388 / 2368356650006388	2010 Mar	 |  | 2010 | Mar
5	991000862969706388 / 2268356750006388 / 2368356670006388	2010 Jan	 |  | 2010 | Jan
6	991000498469706388 / 2275607980006388 / 2375607920006388	1987 Sum	 |  | 1987 | Sum
7	991004149519706388 / 2275929110006388 / 2375929090006388	1990 Dec	 |  | 1990 | Dec
8	991004149519706388 / 2275929110006388 / 2375929100006388	1995 Spr	 |  | 1995 | Spr
9	991000860039706388 / 2264010940006388 / 2364010540006388	1995 Spr	 |  | 1995 | Spr
10	991000860039706388 / 2264010940006388 / 2364010550006388	1994 Fall	 |  | 1994 | Fall
11	991000860039706388 / 2264010940006388 / 2364010560006388	1994 Spr	 |  | 1994 | Spr
12	991000860039706388 / 2264010940006388 / 2364010570006388	1993 Fall	 |  | 1993 | Fall
13	991000860039706388 / 2264010940006388 / 2364010580006388	1993 Spr	 |  | 1993 | Spr
14	991000860039706388 / 2264010940006388 / 2364010590006388	1992 Fall	 |  | 1992 | Fall
15	991000860039706388 / 2264010940006388 / 2364010600006388	1992 Spr	 |  | 1992 | Spr
16	991000860039706388 / 2264010940006388 / 2364010610006388	1991 Spr	 |  | 1991 | Spr
17	991000860039706388 / 2264010940006388 / 2364010620006388	1990 Spr	 |  | 1990 | Spr
18	991000860039706388 / 2264010940006388 / 2364010630006388	1989 Fall	 |  | 1989 | Fall
19	991000860039706388 / 2264010940006388 / 2364010640006388	1989 Spr	 |  | 1989 | Spr
20	991000860039706388 / 2264010940006388 / 2364010650006388	1991 Fall	 |  | 1991 | Fall
21	991000860039706388 / 2264010940006388 / 2364010660006388	1990 Fall	 |  | 1990 | Fall
22	991000860039706388 / 2264010940006388 / 2364010670006388	2000 Fall	 |  | 2000 | Fall
23	991000860039706388 / 2264010940006388 / 2364010680006388	2000 Spr	 |  | 2000 | Spr
24	991000860039706388 / 2264010940006388 / 2364010690006388	1999 Fall	 |  | 1999 | Fall
25	991000860039706388 / 2264010940006388 / 2364010700006388	1999 Spr	 |  | 1999 | Spr
26	991000860039706388 / 2264010940006388 / 2364010710006388	1998 Fall	 |  | 1998 | Fall
27	991000860039706388 / 2264010940006388 / 2364010720006388	1998 Spr	 |  | 1998 | Spr
28	991000860039706388 / 2264010940006388 / 2364010730006388	1997 Fall	 |  | 1997 | Fall
29	991000860039706388 / 2264010940006388 / 2364010740006388	1997 Spr	 |  | 1997 | Spr
30	991000860039706388 / 2264010940006388 / 2364010750006388	1996 Fall	 |  | 1996 | Fall
31	991000860039706388 / 2264010940006388 / 2364010760006388	1988 Fall	 |  | 1988 | Fall
32	991000860039706388 / 2264010940006388 / 2364010770006388	1988 Spr	 |  | 1988 | Spr
33	991000860039706388 / 2264010940006388 / 2364010780006388	1987 Fall	 |  | 1987 | Fall
34	991000860039706388 / 2264010940006388 / 2364010790006388	1987 Spr	 |  | 1987 | Spr
35	991000860039706388 / 2264010940006388 / 2364010800006388	1986 Fall	 |  | 1986 | Fall
36	991000860039706388 / 2264010940006388 / 2364010810006388	1986 Spr	 |  | 1986 | Spr
37	991000860039706388 / 2264010940006388 / 2364010820006388	1985 Fall	 |  | 1985 | Fall
38	991000860039706388 / 2264010940006388 / 2364010830006388	1985 Spr	 |  | 1985 | Spr
39	991000860039706388 / 2264010940006388 / 2364010840006388	1984 Fall	 |  | 1984 | Fall
40	991000860039706388 / 2264010940006388 / 2364010850006388	1984 Spr	 |  | 1984 | Spr
41	991000860039706388 / 2264010940006388 / 2364010860006388	1983 Fall	 |  | 1983 | Fall
42	991000860039706388 / 2264010940006388 / 2364010870006388	1983 Spr	 |  | 1983 | Spr
43	991000860039706388 / 2264010940006388 / 2364010880006388	1982 Fall	 |  | 1982 | Fall
44	991000860039706388 / 2264010940006388 / 2364010890006388	1980 Spr	 |  | 1980 | Spr
45	991000860039706388 / 2264010940006388 / 2364010900006388	1979 Fall	 |  | 1979 | Fall
46	991000860039706388 / 2264010940006388 / 2364010910006388	1996 Spr	 |  | 1996 | Spr
47	991000860039706388 / 2264010940006388 / 2364010920006388	1995 Fall	 |  | 1995 | Fall
48	991002029589706388 / 2266517690006388 / 2366517470006388	2002 May	 |  | 2002 | May
49	991002029589706388 / 2266517690006388 / 2366517480006388	2002 Feb	 |  | 2002 | Feb
50	991002029589706388 / 2266517690006388 / 2366517500006388	2001 Nov	 |  | 2001 | Nov
51	991001474919706388 / 2275260500006388 / 2375260470006388	2004 Spr	 |  | 2004 | Spr
52	991000380599706388 / 2276482440006388 / 2376482220006388	2005 Sum	 |  | 2005 | Sum
53	991000380599706388 / 2276482440006388 / 2376482230006388	2005 Spr	 |  | 2005 | Spr
54	991000380599706388 / 2276482440006388 / 2376482240006388	2005 Win	 |  | 2005 | Win
55	991000380599706388 / 2276482440006388 / 2376482250006388	2004 Fall	 |  | 2004 | Fall
56	991000380599706388 / 2276482440006388 / 2376482260006388	2004 Sum	 |  | 2004 | Sum
57	991000380599706388 / 2276482440006388 / 2376482270006388	2004 Spr	 |  | 2004 | Spr
58	991000380599706388 / 2276482440006388 / 2376482290006388	2003 Fall	 |  | 2003 | Fall
59	991000380599706388 / 2276482440006388 / 2376482300006388	2003 Sum	 |  | 2003 | Sum
60	991000380599706388 / 2276482440006388 / 2376482310006388	2003 Spr	 |  | 2003 | Spr
61	991000380599706388 / 2276482440006388 / 2376482320006388	2002 Win	 |  | 2002 | Win
62	991000380599706388 / 2276482440006388 / 2376482330006388	2002 Fall	 |  | 2002 | Fall
63	991000380599706388 / 2276482440006388 / 2376482340006388	2002 Sum	 |  | 2002 | Sum
64	991000380599706388 / 2276482440006388 / 2376482350006388	2002 Spr	 |  | 2002 | Spr
65	991000380599706388 / 2276482440006388 / 2376482370006388	2001 Fall	 |  | 2001 | Fall
66	991000380599706388 / 2276482440006388 / 2376482380006388	2001 Sum	 |  | 2001 | Sum
67	991000380599706388 / 2276482440006388 / 2376482390006388	2001 Spr	 |  | 2001 | Spr
68	991000380599706388 / 2276482440006388 / 2376482410006388	2000 Fall	 |  | 2000 | Fall
69	991000380599706388 / 2276482440006388 / 2376482420006388	2000 Sum	 |  | 2000 | Sum
70	991000380599706388 / 2276482440006388 / 2376482430006388	2000 Spr	 |  | 2000 | Spr
71	991004681229706388 / 2267069250006388 / 2367069060006388	2005 Jul	 |  | 2005 | Jul
72	991004681229706388 / 2267069250006388 / 2367069070006388	2005 Apr	 |  | 2005 | Apr
73	991004681229706388 / 2267069250006388 / 2367069080006388	2005 Jan	 |  | 2005 | Jan
74	991004681229706388 / 2267069250006388 / 2367069090006388	2004 Oct	 |  | 2004 | Oct
75	991004681229706388 / 2267069250006388 / 2367069100006388	2004 Jul	 |  | 2004 | Jul
76	991004681229706388 / 2267069250006388 / 2367069110006388	2004 Apr	 |  | 2004 | Apr
77	991004681229706388 / 2267069250006388 / 2367069120006388	2004 Jan	 |  | 2004 | Jan
78	991004681229706388 / 2267069250006388 / 2367069130006388	2003 Dec	 |  | 2003 | Dec
79	991004681229706388 / 2267069250006388 / 2367069140006388	2003 Nov	 |  | 2003 | Nov
80	991004681229706388 / 2267069250006388 / 2367069150006388	2003 Oct	 |  | 2003 | Oct
81	991004681229706388 / 2267069250006388 / 2367069160006388	2003 Sep	 |  | 2003 | Sep
82	991004681229706388 / 2267069250006388 / 2367069170006388	2003 Aug	 |  | 2003 | Aug
83	991004681229706388 / 2267069250006388 / 2367069180006388	2003 Jun	 |  | 2003 | Jun
84	991004681229706388 / 2267069250006388 / 2367069190006388	2003 Jul	 |  | 2003 | Jul
85	991004681229706388 / 2267069250006388 / 2367069200006388	2003 May	 |  | 2003 | May
86	991004681229706388 / 2267069250006388 / 2367069210006388	2003 Apr	 |  | 2003 | Apr
87	991004681229706388 / 2267069250006388 / 2367069220006388	2003 Mar	 |  | 2003 | Mar
88	991004681229706388 / 2267069250006388 / 2367069230006388	2003 Feb	 |  | 2003 | Feb
89	991004681229706388 / 2267069250006388 / 2367069240006388	2003 Jan	 |  | 2003 | Jan
90	991001134349706388 / 2272237290006388 / 2372237250006388	1989 Aut	 |  | 1989 | Aut
91	991001134349706388 / 2272237290006388 / 2372237260006388	1989 Sum	 |  | 1989 | Sum
92	991001134349706388 / 2272237290006388 / 2372237270006388	1989 Spr	 |  | 1989 | Spr
93	991000843069706388 / 2268670520006388 / 2368670480006388	1996 Jun	 |  | 1996 | Jun
94	991004162329706388 / 2273404380006388 / 2373404370006388	1981 Spr	 |  | 1981 | Spr

In [ ]:
with open(err_log_txt, 'a') as err_log:
    for index, row in filled.fillna('').iterrows():
        c += 1
        r = requests.get(''.join([baseurl,
                                  item_query.format(mms_id=str(row['MMS_ID']),
                                                    holding_id=str(row['Holdings_ID']),
                                                    item_pid=str(row['Item_ID']),
                                                    apikey=apikey)]))
        rdict = xmltodict.parse(r.text)
        if r.status_code == 429:  # Too many requests--daily limit
            print()
            print('Reached API request limit for today. Stopping execution.')
            print()            
            ## Drop this record & everything after from "filled"
            filled = filled.iloc[:c-1]
            break
        if r.status_code != 200:
            e = xmltodict.parse(r._content)
            # Log the error
            print(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
                  ' Error FETCHING item ', row['Item_ID'], ': (', r.status_code, ') ',
                  e['web_service_result']['errorList']['error']['errorMessage'],
                  sep='',
                  file=err_log)
            # Remove this item from the "filled" df
            filled = filled.drop([index])
            continue
        if (c % (records/100) < 1):
            print(int(100*c/records), '% complete', sep='')#, end='\r')
            sleep(5)
            
        # Merge derived values into the retrieved data (rdict)
        rdict['item']['item_data']['enumeration_a'] = str(row['Enum_A'])
        rdict['item']['item_data']['enumeration_b'] = str(row['Enum_B'])
        rdict['item']['item_data']['chronology_i'] = str(row['Chron_I'])
        rdict['item']['item_data']['chronology_j'] = str(row['Chron_J'])
        # Set an internal note, if there's an empty one available
        if ('Enum/Chron derived from Description' not in rdict['item']['item_data'].values()):
            if (not rdict['item']['item_data']['internal_note_1']):
                rdict['item']['item_data']['internal_note_1'] = 'Enum/Chron derived from Description'
            elif (not rdict['item']['item_data']['internal_note_2']):
                rdict['item']['item_data']['internal_note_2'] = 'Enum/Chron derived from Description'
            elif (not rdict['item']['item_data']['internal_note_3']):
                rdict['item']['item_data']['internal_note_3'] = 'Enum/Chron derived from Description'
            else: # Nbd, just log it
                print(datetime.now().strftime("%Y-%m-%d %H:%M:%S"),
                      ' No internal note available for item MMS ID ',
                      str(row['MMS_ID']), sep="", file=err_log)
 
        # Push the altered record back into Alma
        pxml = xmltodict.unparse(rdict)
        p = requests.put(''.join([baseurl,
                                  item_query.format(mms_id=row['MMS_ID'],
                                                    holding_id=row['Holdings_ID'],
                                                    item_pid=row['Item_ID'],
                                                    apikey=apikey)]),
                         data=pxml.encode('utf-8'), headers={'Content-Type': 'application/xml'})
        if r.status_code == 429:  # Too many requests--daily limit
            print()
            print('Reached API request limit for today. Stopping execution.')
            print()            
            ## Drop this record & everything after from "filled"
            filled = filled.iloc[:c-1]
            break
        if p.status_code != 200:
            e = xmltodict.parse(p._content)
            # Log the error
            print(datetime.now().strftime("%Y-%m-%d %H:%M:%S"), ' Error UPDATING item ', row['Item_ID'], ': (', p.status_code, ') ',
                e['web_service_result']['errorList']['error']['errorMessage'],
                sep='', file=err_log)
            # Remove this item from the "filled" df
            filled = filled.drop([index])
            continue
        print(c, ' / '.join([row['MMS_ID'], row['Holdings_ID'], row['Item_ID']]),
              row['Description'],
              ' | '.join(x or '' for x in [row['Enum_A'], row['Enum_B'], row['Chron_I'], row['Chron_J']]),
              sep="\t")

        # Log it to the CSV
        #    Btw, the 'to_frame().T' transposes it, so it all goes in as a single comma-separated row
        row.to_frame().T.to_csv(filled_csv, mode='a', index=False, header=needs_header)
        needs_header = False # Henceforth

#### Purge filled rows from the original CSV

In [53]:
# Purge filled records from the original df
df = df.loc[~df['Item_ID'].isin(filled['Item_ID'])]

# Re-create the original CSV from that df
df.to_csv(exported_csv, index=False) # By default, will overwrite

# View df & filled

In [ ]:
display(df)
display(filled)

# <span style="color:#cc0000">Undo</span> changes to some records!

In [ ]:
undo_csv="Undo.csv"
df = pd.read_csv(undo_csv, converters={'Item_ID': str, 'Holdings_ID': str, 'MMS_ID': str, 'Item ID': str, 'Holdings ID': str, 'MMS ID': str, 'Enum_A': str, 'Enum_B': str, 'Chron_I': str, 'Chron_J': str})
# Remove spaces from column names
df.columns = [c.replace(' ', '_') for c in df.columns]
# Rename certain columns
df = df.rename(columns={'Permanent_Location': 'Location', 'Item_Policy': 'Policy', 'Material_Type': 'Material'})
records = len(df)
c = 0

for index, row in df.fillna('').iterrows():
    c += 1
    
    # Get the current record
    print(c, ' / '.join((row['MMS_ID'], row['Holdings_ID'], row['Item_ID'])), str(row['Description']), sep="\t")
    r = requests.get(''.join([baseurl,
                              item_query.format(mms_id=str(row['MMS_ID']),
                                                holding_id=str(row['Holdings_ID']),
                                                item_pid=str(row['Item_ID']),
                                                apikey=apikey)]))
    rdict = xmltodict.parse(r.text)
    if r.status_code != 200:
        e = xmltodict.parse(r._content)
        # Output the error
        print('Error FETCHING item ', row['Item_ID'], ': (', r.status_code, ') ',
            e['web_service_result']['errorList']['error']['errorMessage'],
            sep='')
        continue
    if (c % (records/100) < 1):
        print(int(100*c/records), '% complete', sep='')#, end='\r')
        sleep(5)

    # Merge derived values into the retrieved data (rdict)
    rdict['item']['item_data']['enumeration_a'] = \
        rdict['item']['item_data']['enumeration_b'] = \
        rdict['item']['item_data']['chronology_i'] = \
        rdict['item']['item_data']['chronology_j'] = None
    # Set an internal note, if there's an empty one available
    if (rdict['item']['item_data']['internal_note_1'] == 'Enum/Chron derived from Description'):
        rdict['item']['item_data']['internal_note_1'] = None
    if (rdict['item']['item_data']['internal_note_2'] == 'Enum/Chron derived from Description'):
        rdict['item']['item_data']['internal_note_2'] = None
    if (rdict['item']['item_data']['internal_note_3'] == 'Enum/Chron derived from Description'):
        rdict['item']['item_data']['internal_note_3'] = None

    # Push the altered record back into Alma
    pxml = xmltodict.unparse(rdict)
    p = requests.put(''.join([baseurl,
                              item_query.format(mms_id=row['MMS_ID'],
                                                holding_id=row['Holdings_ID'],
                                                item_pid=row['Item_ID'],
                                                apikey=apikey)]),
                     data=pxml.encode('utf-8'), headers={'Content-Type': 'application/xml'})
    if p.status_code != 200:
        e = xmltodict.parse(p._content)
        # Log the error
        print('Error UPDATING item ', row['Item_ID'], ': (', p.status_code, ') ',
            e['web_service_result']['errorList']['error']['errorMessage'],
            sep='')
        continue

# Testing stuff

In [45]:
desc = 'Spring 1885'
mmmRE = r'(Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|June?|July?|Aug(?:ust)?|Sept?(?:ember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?|Spr(?:ing)?|Sum(?:mer)?|Fall?|Aut(?:umn)?|Win(?:ter)?)'
yyyyRE = r'(?:1[89]|20)\d\d(?:[\-\/](?:1[89]|20)?\d\d)?'
exp = re.compile('^' + mmmRE + ' *' + yyyyRE + '$')

exp.match(desc)

In [54]:
fne = r'^v\. ?(\d+)[ \/]no\. ?(\d+) (' + mmmRE + r' \d{1,2}),? '+'(' + yyyyRE + ')$', ['Enum_A', 'Enum_B', 'Chron_J', 'Chron_I'])

In [55]:
df

,Location,Material,Policy,Title,MMS_ID,Holdings_ID,Item_ID,Description,Enum_A,Enum_B,Chron_I,Chron_J
0,1L Cataloging,Other,Serial,Cataloging service bulletin index,991001247819706388,2267069970006388,2367069950006388,no.1-128 1978-2010,None,None,None,None
1,1L Cataloging,Other,Serial,The Music OCLC Users Group presents the best o...,991000134449706388,2276843580006388,2376843570006388,2000,None,None,None,None
2,1L Magazine Stand,Issue,Non Circulating,The antelope newspaper,991001196859706388,22130215730006388,23130215550006388,v.123 no.16 Mar 23 2022,123,16,Mar,Mar 23
3,1L Magazine Stand,Issue,Non Circulating,The antelope newspaper,991001196859706388,22130215730006388,23130215560006388,v.123 no.14 Mar 2 2022,123,14,Mar,Mar 2
4,1L Magazine Stand,Issue,Non Circulating,The antelope newspaper,991001196859706388,22130215730006388,23130215570006388,v.123 no.15 Mar 9 2022,123,15,Mar,Mar 9
...,...,...,...,...,...,...,...,...,...,...,...,...
104235,Special Collection,Other,Serial,Work paper,991000171229706388,2266649730006388,2366649680006388,no.20 Spr 1976,None,None,None,None
104236,Special Collection,Other,Serial,Work paper,991000171229706388,2266649730006388,2366649690006388,no.19 Dec 1975,None,None,None,None
104237,Special Collection,Other,Serial,Work paper,991000171229706388,2266649730006388,2366649700006388,no.18 Sep 1975,None,None,None,None
104238,Special Collection,Other,Serial,Work paper,991000171229706388,2266649730006388,2366649710006388,no.13 Dec 1973,None,None,None,None
104239,Special Collection,Other,Serial,Work paper,991000171229706388,2266649730006388,2366649720006388,no.9 Oct 1972,None,None,None,None